@model PierresTreats.Models.Flavor

<h1>Add a @Model.Type treat</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.Label("Select Treat")
  @Html.DropDownList("TreatId")

  <input type="submit" value="Add" />
  
}

<p> @Html.ActionLink($"Back to Flavor: {Model.Type}", "Details", new { id = Model.FlavorId })</p>
<p> @Html.ActionLink("Back to Flavor List", "Index")</p>